html, body {
    max-width: 100%;
    overflow-x: hidden;
}


/*
@media only screen and (min-width: 768px) {
     tablets and desktop 
}

@media only screen and (max-width: 767px) {
     phones 
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    portrait phones 
}
*/

.body {
    margin: 0;
    padding: 0;
    position: relative;
}

.text1 {
    font-family: 'Open Sans', sans-serif;
}


@media only screen and (min-width: 600px) {
  /*tablets and desktop*/

  .home-container{
      width: 100%;
      height: 768px;
      position: relative;
  }

  .menu-img {
      width: 40px;
      height: 40px;
  }


  .home-center {
      margin: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 700px;
  }

  .home-isabel {
      margin-left: -800px;
      font-weight: bolder;
      font-size: 100px;
      letter-spacing: 4px;
      position: relative;
      z-index: 1;
      margin-bottom: -30px;
      -webkit-transition: margin-left 0.8s;
      -moz-transition: margin-left 0.8s;
      transition: margin-left 0.8s;
      transition-timing-function: cubic-bezier(0,.84,.5,1.04);
  }

  .home-llacer {
      margin-top: -20px;
      text-align: center;
      margin-left: 2000px;
      font-weight: bolder;
      font-size: 100px;
      letter-spacing: 4px;
      margin-bottom: 10px;
      webkit-transition: margin-left 0.8s;
      -moz-transition: margin-left 0.8s;
      transition: margin-left 0.8s;
      transition-timing-function: cubic-bezier(0,.84,.5,1.04);
  }

  .home-subtitle {
      text-align: center;
      font-weight: lighter;
      letter-spacing: 2px;
      font-size: 20px;
      position: relative;
      z-index: 2;
  }

  .home-button {
      position: absolute;
      top: 50px;
      right: 50px;
  }

  .menu-img {
      -webkit-transition: opacity 0.1s; /* Safari */
      -moz-transition: opacity 0.1s;
      transition: opacity 0.1s;
      transition-timing-function: ease-out;
  }


  .sidebar {
      position: absolute;
      right: -325px;
      height: 100%;
      width: 325px;
      background-color: rgba(0,0,0,0.9);
      -webkit-transition: right 0.2s; /* Safari */
      -moz-transition: right 0.2s;
      transition: right 0.2s;
      transition-timing-function: ease;
  }

  .sidebar-show {
      right: 0px;
  }

  .sidebar-about,.sidebar-work,.sidebar-contact {
      color: white;
      text-align: center;
      margin: 60px;
      font-size: 30px;
      letter-spacing: 4px;
      font-weight: normal;
  }

  .sidebar-about {
      margin-top: 100px;
  }

  .sidebar-underline {
      background-color: white;
      width: 120px;
      height: 2px;
      margin: auto;
      margin-top: -60px;
      opacity: 0;
      -webkit-transition: opacity 0.3s; /* Safari */
      -moz-transition: opacity 0.3s; 
      transition: opacity 0.3s;
      transition-timing-function: ease-out;
  }

  .x-button {
      position: absolute;
      left: 40px;
      top: 40px;
      -webkit-transition: opacity 0.2s; /* Safari */
      -moz-transition: opacity 0.2s;
      transition: opacity 0.2s;
      transition-timing-function: ease-out;
  }

  .x-button:hover {
      cursor: pointer;
      opacity: 0.7;
  }

  .x-img {
      height: 15px;
      width: 15px;
  }


  .home-circle {
      height: 350px;
      width: 350px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      z-index: 0;

  }

  .navbar {
    position: absolute;
    z-index: 100;
    left: -60px;
    top: 340px;
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
  }

  .navbar-lines {
    -ms-transform: translateY(-18px); /* IE 9 */
    -webkit-transform: translateY(-18px); /* Chrome, Safari, Opera */
    -moz-transform: translateY(-18px);
    transform: translateY(-18px);
  }


  .navbar-line1 {
    float: left;
    height: 3px;
    width: 85px;
    background-color: black;
    margin-right: 12px;
    margin-left: -2px;
    opacity: 0;
    -webkit-transition: opacity 0.7s, background-color 0.7s; /* Safari */
    -moz-transition: opacity 0.7s, background-color 0.7s;
    transition: opacity 0.7s, background-color 0.7s;
    transition-timing-function: ease-out;
  }


  .navbar-line2 {
    float: left;
    height: 3px;
    width: 78px;
    background-color: #E8E8E8;
    margin-right: 9px;
    opacity: 0;
    -webkit-transition: opacity 0.7s, background-color 0.7s; /* Safari */
    -moz-transition: opacity 0.7s, background-color 0.7s;
    transition: opacity 0.7s, background-color 0.7s;
    transition-timing-function: ease-out;
  }

  .navbar-line3 {
    float: left;
    height: 3px;
    width: 115px;
    background-color: black;
    opacity: 0;
    -webkit-transition: opacity 0.7s, background-color 0.7s; /* Safari */
    -moz-transition: opacity 0.7s, background-color 0.7s;
    transition: opacity 0.7s, background-color 0.7s;
    transition-timing-function: ease-out;
  }

  .navbar-about {
    float: left;
    font-size: 25px;
    font-weight: bold;
    margin-right: 15px;
    -webkit-transition: color 0.7s; /* Safari */
    -moz-transition: color 0.7s;
    transition: color 0.7s;
    transition-timing-function: ease-out;
  }

  .navbar-work {
    float: left;
    font-size: 25px;
    font-weight: bold;
    margin-right: 15px;
    -webkit-transition: color 0.7s; /* Safari */
    -moz-transition: color 0.7s;
    transition: color 0.7s;
    transition-timing-function: ease-out;
  }

  .navbar-contact {
    float: left;
    font-size: 25px;
    font-weight: bold;
    margin-right: 15px;
    -webkit-transition: color 0.7s; /* Safari */
    -moz-transition: color 0.7s;
    transition: color 0.7s;
    transition-timing-function: ease-out;
  }

  .about-container {
      background-color: #FB9E91;
      width: 100%;
      height: 538px;
      position: relative;
      /*How to make height just contain contents in paragraph? (not static)*/
  }

  .about-line {
      height: 768px;
      width: 1px;
      position: absolute;
      margin-left: 200px;
      margin-top: 0px;
      background-color: black;
  }

  .logo-container {
      position: absolute;
      left: 50px;
      top: 80px;
      z-index: 100;
  }

  .about-logo {
      height: 60px;
      -webkit-transition: opacity 0.7s; /* Safari */
      -moz-transition: opacity 0.7s;
      transition: opacity 0.7s;
      transition-timing-function: ease-out;
  }

  .about-logo-white {
    height: 60px;
    opacity: 0;
    -webkit-transition: opacity 0.7s; /* Safari */
    -moz-transition: opacity 0.7s;
    transition: opacity 0.7s;
    transition-timing-function: ease-out;
  }

  .about-title {
      font-weight: bolder;
      position: absolute;
      top: 80px;
      left: 15%;
      margin-left: 140px;
      font-size: 60px;
      letter-spacing: 2px;
  }

  .content-container {
      margin-top: 30px;
      position: absolute;
      left: 15%;
      margin-left: 140px;
      top: 160px;
      right: 10%;
      font-size: 23px;
      font-size: 2vw;
      letter-spacing: 1.5px;
  }

  .work-container {
      background-color: rgba(0,0,0,0.9);
      width: 100%;
      height: 3050px;
      position: relative;
  }

  .overlay {
    position: absolute;
    z-index: 300;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0;
    display: none;
    -webkit-transition: opacity 0.7s; /* Safari */
    -moz-transition: opacity 0.7s;
    transition: opacity 0.7s;
    transition-timing-function: ease-out;
  }

  .x-overlay1 {
    position: relative;
    /*
    height: 30px;
    width: 30px;
    */
    height: 20px;
    width: 20px;
    top: 315px;
    left: 23%;
  }

  .x-overlay2 {
    position: relative;
    /*
    height: 30px;
    width: 30px;
    */
    height: 20px;
    width: 20px;
    top: 680px;
    left: 23%;
    opacity: 0;
  }


  .work-line {
      height: 100%;
      width: 1px;
      position: absolute;
      margin-left: 200px;
      margin-top: 0px;
      background-color: #FB9E91;
  }

  .work-title {
      font-weight: bolder;
      position: absolute;
      top: 80px;
      left: 15%;
      margin-left: 140px;
      font-size: 60px;
      color: #E8E8E8;
      letter-spacing: 2px;
  }

  .github-title,.MSH-title,.graphic-title {
      color: #E8E8E8;
      font-size: 40px;
      letter-spacing: 1.5px;
  }

  .github-container,.msh-container,.graphic-container {
  margin-top: 50px;
  }

  .git-link:link {
    font-weight: normal;
    color: #E8E8E8;
    font-size: 30px;
    letter-spacing: 1.5px;
  }

  .deer {
      height:600px;
      margin-left: 40px;
      margin-top: 20px;
      margin-bottom: 50px;
  }

  .eyeshadow {
      height: 300px;
      margin-right: 40px;
      margin-top: 40px;
      margin-bottom: 40px;
  }

  .cone {
      height: 300px;
      margin-left: 40px;
      margin-top: 40px;
      margin-bottom: 40px;
  }

  .work-content-container {
      position: absolute;
      left: 20%;
      margin-left: 40px;
      top: 160px;
  }

  .sprint1-container {
      margin-top: 30px;
  }

  .sprint1-title {
      color: #E8E8E8;
      font-weight: bold;
      font-size: 25px;
      letter-spacing: 2px;
      margin-bottom: 30px;
  }

  .selection {
      width: 750px;
      height: 500px;
  }

  .sprint1-description {
      color: #E8E8E8;
      font-size: 15px;
      font-weight: 100;
      letter-spacing: 2px;
      margin-bottom: 20px;
      width: 750px;
      margin-top: 30px;
  }

  .sprint2-title {
      color: #E8E8E8;
      font-weight: bold;
      font-size: 25px;
      letter-spacing: 2px;
      margin-bottom: 20px;
      margin-top: 30px;

  }

  .sprint2-description {
      color: #E8E8E8;
      font-size: 15px;
      font-weight: 100;
      letter-spacing: 2px;
      margin-bottom: 20px;
      width: 750px;
      margin-top: 30px;
  }

  .contact-container {
      background-color: #FB9E91;
      width: 100%;
      height: 768px;
      position: relative;
  }

  .contact-line {
      height: 768px;
      width: 1px;
      position: absolute;
      margin-left: 200px;
      margin-top: 0px;
      background-color: black;
  }

  .contact-title {
      font-weight: bolder;
      position: absolute;
      top: 80px;
      left: 15%;
      margin-left: 140px;
      font-size: 60px;
      color: rgba(0,0,0);
      letter-spacing: 2px;
  }

  .feel-free {
     font-weight: bolder;
      position: absolute;
      top: 240px;
      left: 15%;
      margin-left: 140px;
      font-size: 30px;
      color: rgba(0,0,0);
      letter-spacing: 1.5px;
  }

  .email {
      float: left;
      font-weight: bolder;
      font-size: 40;
  }

  .email-info {
      float: left;
      margin-left: 40px;
      margin-top: 15px;
      margin-right: -50px;
  }

  .contact-content1 {
    margin-top: 175px;
  }

  .contact-content2 {
    margin-top: 20px;
  }

  .linkedin {
      float: left;
      font-weight: bolder;
      font-size: 40;
  }

  .linkedin-info {
      float: left;
      margin-left: 30px;
      margin-top: 15px;
      margin-right: -60px;
  }

  .screenshot {
      width: 750px;
  }

  .home-isabelt {
      margin-left: 60px;
  }

  .home-llacert {
      margin-left: 260px;
  }

  .eyeshadow-active {
    height: 600px;
    position: absolute;
    left: 10%;
    z-index: 301;
  }

  .cone-active {
    height: 600px;
    position: absolute;
    left: 10%;
    z-index: 301;
  }

  .deer-active {
    height: 600px;
    position: absolute;
    left: 10%;
    z-index: 301;
  }
}

@media only screen and (max-width: 767px) {
/*phones*/

  .home-container{
      width: 100%;
      height: 700px;
      position: relative;
  }

  .menu-img {
      width: 40px;
      height: 40px;
  }


  .home-center {
      margin: auto;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 250px;
  }

  .home-isabel {
      margin-left: -800px;
      font-weight: bolder;
      font-size: 70px;
      letter-spacing: 4px;
      position: relative;
      z-index: 1;
      margin-bottom: -30px;
      -webkit-transition: margin-left 0.8s;
      -moz-transition: margin-left 0.8s;
      transition: margin-left 0.8s;
      transition-timing-function: cubic-bezier(0,.84,.5,1.04);
  }

  .home-llacer {
      margin-top: -20px;
      text-align: center;
      margin-left: 2000px;
      font-weight: bolder;
      font-size: 70px;
      letter-spacing: 4px;
      margin-bottom: 10px;
      webkit-transition: margin-left 0.8s;
      -moz-transition: margin-left 0.8s;
      transition: margin-left 0.8s;
      transition-timing-function: cubic-bezier(0,.84,.5,1.04);
  }

  .home-subtitle {
      text-align: center;
      font-weight: lighter;
      letter-spacing: 2px;
      font-size: 15px;
      position: relative;
      z-index: 2;
  }

  .home-button {
      position: absolute;
      top: 50px;
      right: 50px;
  }

  .menu-img {
      -webkit-transition: opacity 0.1s; /* Safari */
      -moz-transition: opacity 0.1s;
      transition: opacity 0.1s;
      transition-timing-function: ease-out;
  }


  .sidebar {
      position: absolute;
      right: -325px;
      height: 100%;
      width: 325px;
      background-color: rgba(0,0,0,0.9);
      -webkit-transition: right 0.2s; /* Safari */
      -moz-transition: right 0.2s;
      transition: right 0.2s;
      transition-timing-function: ease;
  }

  .sidebar-show {
      right: 0px;
  }

  .sidebar-about,.sidebar-work,.sidebar-contact {
      color: white;
      text-align: center;
      margin: 60px;
      font-size: 30px;
      letter-spacing: 4px;
      font-weight: normal;
  }

  .sidebar-about {
      margin-top: 100px;
  }

  .sidebar-underline {
      background-color: white;
      width: 120px;
      height: 2px;
      margin: auto;
      margin-top: -60px;
      opacity: 0;
      -webkit-transition: opacity 0.3s; /* Safari */
      -moz-transition: opacity 0.3s; 
      transition: opacity 0.3s;
      transition-timing-function: ease-out;
  }

  .x-button {
      position: absolute;
      left: 40px;
      top: 40px;
      -webkit-transition: opacity 0.2s; /* Safari */
      -moz-transition: opacity 0.2s;
      transition: opacity 0.2s;
      transition-timing-function: ease-out;
  }

  .x-button:hover {
      cursor: pointer;
      opacity: 0.7;
  }

  .x-img {
      height: 15px;
      width: 15px;
  }


  .home-circle {
      height: 250px;
      width: 250px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      z-index: 0;

  }

  .navbar {
    position: absolute;
    z-index: 100;
    left: -95px;
    top: 280px;
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
  }

  .navbar-lines {
    -ms-transform: translateY(-18px); /* IE 9 */
    -webkit-transform: translateY(-18px); /* Chrome, Safari, Opera */
    -moz-transform: translateY(-18px);
    transform: translateY(-18px);
  }


  .navbar-line1 {
    float: left;
    height: 3px;
    width: 85px;
    background-color: black;
    margin-right: 12px;
    margin-left: -2px;
    opacity: 0;
    -webkit-transition: opacity 0.7s, background-color 0.7s; /* Safari */
    -moz-transition: opacity 0.7s, background-color 0.7s;
    transition: opacity 0.7s, background-color 0.7s;
    transition-timing-function: ease-out;
  }


  .navbar-line2 {
    float: left;
    height: 3px;
    width: 78px;
    background-color: #E8E8E8;
    margin-right: 9px;
    opacity: 0;
    -webkit-transition: opacity 0.7s, background-color 0.7s; /* Safari */
    -moz-transition: opacity 0.7s, background-color 0.7s;
    transition: opacity 0.7s, background-color 0.7s;
    transition-timing-function: ease-out;
  }

  .navbar-line3 {
    float: left;
    height: 3px;
    width: 115px;
    background-color: black;
    opacity: 0;
    -webkit-transition: opacity 0.7s, background-color 0.7s; /* Safari */
    -moz-transition: opacity 0.7s, background-color 0.7s;
    transition: opacity 0.7s, background-color 0.7s;
    transition-timing-function: ease-out;
  }

  .navbar-about {
    float: left;
    font-size: 25px;
    font-weight: bold;
    margin-right: 15px;
    -webkit-transition: color 0.7s; /* Safari */
    -moz-transition: color 0.7s;
    transition: color 0.7s;
    transition-timing-function: ease-out;
  }

  .navbar-work {
    float: left;
    font-size: 25px;
    font-weight: bold;
    margin-right: 15px;
    -webkit-transition: color 0.7s; /* Safari */
    -moz-transition: color 0.7s;
    transition: color 0.7s;
    transition-timing-function: ease-out;
  }

  .navbar-contact {
    float: left;
    font-size: 25px;
    font-weight: bold;
    margin-right: 15px;
    -webkit-transition: color 0.7s; /* Safari */
    -moz-transition: color 0.7s;
    transition: color 0.7s;
    transition-timing-function: ease-out;
  }

  .about-container {
      background-color: #FB9E91;
      width: 100%;
      height: 538px;
      position: relative;
      /*How to make height just contain contents in paragraph? (not static)*/
  }

  .about-line {
      height: 538px;
      width: 1px;
      position: absolute;
      margin-left: 125px;
      margin-top: 0px;
      background-color: black;
  }

  .logo-container {
      position: absolute;
      left: 15px;
      top: 40px;
      z-index: 100;
  }

  .about-logo {
      height: 60px;
      -webkit-transition: opacity 0.7s; /* Safari */
      -moz-transition: opacity 0.7s;
      transition: opacity 0.7s;
      transition-timing-function: ease-out;
  }

  .about-logo-white {
    height: 60px;
    opacity: 0;
    -webkit-transition: opacity 0.7s; /* Safari */
    -moz-transition: opacity 0.7s;
    transition: opacity 0.7s;
    transition-timing-function: ease-out;
  }

  .about-title {
      font-weight: bolder;
      position: absolute;
      top: 40px;
      left: 18%;
      margin-left: 90px;
      font-size: 50px;
      letter-spacing: 2px;
  }

  .content-container {
      margin-top: 0px;
      position: absolute;
      left: 15%;
      margin-left: 100px;
      top: 140px;
      right: 10%;
      font-size: 23px;
      font-size: 3vw;
      letter-spacing: 1px;
  }

  .work-container {
      background-color: rgba(0,0,0,0.9);
      width: 100%;
      height: 3050px;
      position: relative;
  }

  .overlay {
    position: absolute;
    z-index: 300;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0;
    display: none;
    -webkit-transition: opacity 0.7s; /* Safari */
    -moz-transition: opacity 0.7s;
    transition: opacity 0.7s;
    transition-timing-function: ease-out;
  }

  .x-overlay1 {
    position: relative;
    /*
    height: 30px;
    width: 30px;
    */
    height: 20px;
    width: 20px;
    top: 315px;
    left: 23%;
  }

  .x-overlay2 {
    position: relative;
    height: 20px;
    width: 20px;
    top: 680px;
    left: 23%;
    opacity: 0;
  }


  .work-line {
      height: 100%;
      width: 1px;
      position: absolute;
      margin-left: 125px;
      margin-top: 0px;
      background-color: #FB9E91;
  }

  .work-title {
      font-weight: bolder;
      position: absolute;
      top: 40px;
      left: 18%;
      margin-left: 90px;
      font-size: 50px;
      color: #E8E8E8;
      letter-spacing: 2px;
  }

  .graphic-title {
    position: absolute;
    left: 37px;
    top: -40px;
  }

  .github-title,.MSH-title,.graphic-title {
      color: #E8E8E8;
      font-size: 25px;
      letter-spacing: 1.5px;
  }

  .github-container,.msh-container,.graphic-container {
  margin-top: 0px;
  }

  .git-link:link {
    font-weight: normal;
    color: #E8E8E8;
    font-size: 18px;
    letter-spacing: 1.5px;
  }

  .imgs-container{
    margin-left: 15px;
  }

  .deer {
      height:300px;
      margin-right: 40px;
      margin-top: 40px;
      margin-bottom: 30px;
  }

  .eyeshadow {
      height: 300px;
      margin-right: 40px;
      margin-top: 40px;
  }

  .cone {
      height: 300px;
      margin-right: 40px;
      margin-top: 40px;
      display: block;
  }

  .work-content-container {
      position: absolute;
      left: 20%;
      margin-left: 40px;
      top: 160px;
  }

  .MSH-title {
    left: 37px;
    top: -40px;
    margin-bottom: 20px;
  }

  .sprint1-title,.sprint2-title,.sprint3-title {
    font-size: 20px;
  }

  .sprint1-container {
      margin-top: 20px;
      margin-left: 15px;
  }

  .sprint1-title {
      color: #E8E8E8;
      font-weight: bold;
      letter-spacing: 2px;
      margin-bottom: 30px;
  }

  .selection {
      width: 300px;
      height: 500px;
  }

  .sprint1-description {
      color: #E8E8E8;
      font-size: 20px;
      font-size: 3vw;
      font-weight: 100;
      letter-spacing: 1.5px;
      margin-bottom: 20px;
      width: 300px;
      margin-top: 30px;
  }

  .sprint2-container {
    margin-left: 15px;
  }

  .sprint2-title {
      color: #E8E8E8;
      font-weight: bold;
      letter-spacing: 2px;
      margin-bottom: 30px;
      margin-top: 30px;

  }

  .sprint2-description {
      color: #E8E8E8;
      font-size: 20px;
      font-size: 3vw;
      font-weight: 100;
      letter-spacing: 1.5px;
      margin-bottom: 20px;
      width: 300px;
      margin-top: 20px;
  }

  .sprint3-container {
    margin-left: 15px;
  }

  .github-container {
    margin-left: 15px;
  }

  .git-link{

  }

  .contact-container {
      background-color: #FB9E91;
      width: 100%;
      height: 768px;
      position: relative;
  }

  .contact-line {
      height: 768px;
      width: 1px;
      position: absolute;
      margin-left: 200px;
      margin-top: 0px;
      background-color: black;
  }

  .contact-title {
      font-weight: bolder;
      position: absolute;
      top: 80px;
      left: 15%;
      margin-left: 140px;
      font-size: 60px;
      color: rgba(0,0,0);
      letter-spacing: 2px;
  }

  .feel-free {
     font-weight: bolder;
      position: absolute;
      top: 240px;
      left: 15%;
      margin-left: 140px;
      font-size: 30px;
      color: rgba(0,0,0);
      letter-spacing: 1.5px;
  }

  .email {
      float: left;
      font-weight: bolder;
      font-size: 40;
  }

  .email-info {
      float: left;
      margin-left: 40px;
      margin-top: 15px;
      margin-right: -50px;
  }

  .contact-content1 {
    margin-top: 175px;
  }

  .contact-content2 {
    margin-top: 20px;
  }

  .linkedin {
      float: left;
      font-weight: bolder;
      font-size: 40;
  }

  .linkedin-info {
      float: left;
      margin-left: 30px;
      margin-top: 15px;
      margin-right: -60px;
  }

  .screenshot {
      width: 300px;
  }

  .home-isabelt {
      margin-left: -30px;
  }

  .home-llacert {
      margin-left: 15px;
  }

  .eyeshadow-active {
    height: 600px;
    position: absolute;
    left: 10%;
    z-index: 301;
  }

  .cone-active {
    height: 600px;
    position: absolute;
    left: 10%;
    z-index: 301;
  }

  .deer-active {
    height: 600px;
    position: absolute;
    left: 10%;
    z-index: 301;
  }
}


  .home-button:hover {
      cursor: pointer;
  }

  .sidebar-about:hover,.sidebar-work:hover,.sidebar-contact:hover {
      cursor: pointer;
  }

 .navbar-line2-active {
    opacity: 1;
  }

  .sidebar-show {
      opacity: 1;
  }

  .navbar-line3-active {
    opacity: 1;
  }

  .navbar-line1-active {
    opacity: 1;
  }

  .white {
    color: #E8E8E8;
  }

  .navbar-about:hover, .navbar-line1:hover {
    cursor: pointer;
  }

  .navbar-work:hover, .navbar-line2:hover {
    cursor: pointer;
  }

  .navbar-contact:hover, .navbar-line3:hover {
    cursor: pointer;
  }

 .opacity-one {
    opacity: 1;
  }

  .x-overlay2-active {
    opacity: 1;
  }

  .x-overlay2:hover {
    cursor: pointer;
  }

  .x-overlay1:hover {
    cursor: pointer;
  }

  .git-link:visited {
    color: #696969;
  }

  .git-link:hover {
    color: #FB9E91;
  }

  .deer-hover:hover {
      cursor: pointer;
  }

  .eyeshadow-hover:hover {
      cursor: pointer;
  }

  .cone-hover:hover {
      cursor: pointer;
  }


  .email-link:link {
    color: black;
  }

  .email-link:hover {
    color: #E8E8E8;
  }

  .email-link:visited {
    color: #696969;
  }


  .linkedin-info:link {
    color: black;
  }

  .linkedin-info:hover {
    color: #E8E8E8;
  }

  .linkedin-info:visited {
    color: #696969;
  }

  .clearfix {
      clear: both;
  }

  .background-black {
    background-color: black;
  }

  .background-white {
    background-color: #E8E8E8;
  }

  .navbar-fixed {
    position: fixed;
  }

  .overlay-active {
    opacity: 0.8;
    display: inherit;
  }

.stop-scroll {
    overflow: hidden;
  }
